@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Itim&display=swap');

$font-logo: "Caveat" , sans-serif;
$font-body: "Itim", cursive;

$color-primary: #28527a;
$color-secondary: #00c9ff;
$color-white: #fafafa;
$color-footer: #fffdd0;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
}
nav{
    height: 50px;
    background-color: $color-white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: $font-logo;
    font-size: 30px;
    color: $color-primary;
}
.button0{
    display: block;
    width: 100px;
    background-color: $color-white;
    border: 2px solid $color-primary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-primary;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,h3{
        margin: 20px 0;
        color: $color-secondary;  
    }
    img, p, h2{
        margin: 20px 0;
    }
    
}
footer{
    background-color: $color-footer;
    font-size: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        margin: 10px;
    }
}
.button1{
    display: block;
    width: 150px;
    margin: 20px 0;
    background-color: $color-primary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-white;
}
.Grid-container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 5px;
}




